@import "/reset";
@import "/variables";
@import "/jobCard";

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: $background;
  font-family: $main-font;
  font-size: 1.5em;
  height: 100%;
}

.header {
  width: 1440px;
  height: 150px;
  background-color: $primary;
  margin: 0 auto;
  background-image: url("../images/bg-header-desktop.svg");

  @media (max-width: $breakpoint-mobile) {
    width: 375px;
  }
}

.tag {
  color: $primary;
  background-color: $background;
  border: none;
  font-weight: 700;
  font-size: 1em;
}

.new {
  font-size: 0.8em;
  display: flex;
  color: white;
  border-radius: 13px;
  background-color: $primary;
  align-items: center;
  justify-content: center;
  height: 1.75em;
  width: 4.5em;
  text-transform: uppercase;
}

.featured {
  font-size: 0.8em;
  display: flex;
  color: white;
  border-radius: 13px;
  background-color: $veryDark;
  align-items: center;
  justify-content: center;
  height: 1.75em;
  width: 7em;
  text-transform: uppercase;
}

.jobList {
  height: 100%;
}

.App {
  height: 100%;
}
